<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>482144499569-4venbjp1cejvgi3v8lihin3thttmtsok.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.482144499569-4venbjp1cejvgi3v8lihin3thttmtsok</string>
	<key>API_KEY</key>
	<string>AIzaSyBL7Acdsmv2FPFoFV6BKvhRWEp-G7EGyS8</string>
	<key>GCM_SENDER_ID</key>
	<string>482144499569</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.NIBMParking</string>
	<key>PROJECT_ID</key>
	<string>nibm-parking-9aeed</string>
	<key>STORAGE_BUCKET</key>
	<string>nibm-parking-9aeed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:482144499569:ios:d4e9ad107bdd777ccee8d0</string>
</dict>
</plist>